.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.8rem;
  cursor: pointer;

  nav {
    display: flex;
    gap: 5vw;
  }
}

.mobileMenuButton {
  display: none;
}

.logo {
  width: auto;
  height: 5rem;
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
  }

  .header nav {
    display: none;
  }
}
