.header {
  display: flex;
  justify-content: space-between;
  background-color: #ed8787;
  padding: 10px;
  font-size: 1.8rem;
  cursor: pointer;

  nav {
    display: flex;
    gap: 10px;
  }
}

.mobileMenuButton {
  display: none;
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
  }

  .header nav {
    display: none;
  }
}
