.mainHome {
  background-image: url("../../assets/home-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  width: calc(100% + var(--page-padding) * 2);
  margin-left: calc(var(--page-padding) * -1);
  overflow: hidden;
}

.mainHomeContent {
  text-align: center;
  margin-top: 25vh;
}

.mainHomeContent h1 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.mainHomeContent p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 600px;
  margin: auto;
}

.mainHomeSection h2 {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
}

.taskImage {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  border: 1px solid var(--primary-color);

  img {
    object-fit: contain;
    object-position: center;
    max-width: 60%;
  }
}

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
  margin: auto;
}

.taskItem {
  display: flex;
  flex-direction: row;

  gap: 2rem;
}

@media (max-width: 768px) {
  .mainHome {
    min-height: 50vh;
  }

  .taskItem {
    flex-direction: column;
  }

  .mainHomeContent {
    margin-top: 0;
  }
}
